
a .nav-link {
  color: #fff !important;
  padding: 3px !important;
}

.ApplyNowBtn:hover  .nav-link{
  color: #b3d33e !important;
}

.sl1 {
  right: 0 !important;
}

.no-horizontal-padding {
  position: relative;
  margin-top: 0px !important;
  padding-left: 0;
  padding-right: 0;
}

.carousel-height{
  margin-top: 0px !important;
}

.Slider-width{
  width: 100%;
  margin:0 auto;
}

.carousel-item {
  border-radius: 2% !important;
  height: 646px; /* Adjust height as needed   !!!!!!!!!!!!!! */
  overflow: hidden;

}


/* AMAN ######################################  */

.carousel-image-style{
  border: 3px solid blue;
}
.apply-now-button{
  position: absolute;
  top: 15px;
}

.carousel-slider-1{
  background-image: url('../images/DM1.jpg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}
.carousel-slider-2{
  background-image: url('../images/DM2.jpg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}
.carousel-slider-3{
  background-image: url('../images/DM3.jpg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}
.carousel-slider-4{
  background-image: url('../images/DM4.jpg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: left;
}
.apply-btn-slider{
  position: absolute;
  right: 10%;
  bottom: 10%;
}
.slider-left-btn{
  position: absolute;
  left: 10%;
  bottom: 10%;
}
@media (max-width: 774px) {
  
 .carousel-slider-1{
  background-image: url('../images/M1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
}
.carousel-slider-2{
  background-image: url('../images/M2.jpg');
  background-size: cover;
}
.carousel-slider-3{
  background-image: url('../images/M3.jpg');
  background-size: cover;
}
.carousel-slider-4{
  background-image: url('../images/M4.jpg');
  background-size: cover;
} 
.apply-btn-slider{
  position: absolute;
  right: 10%;
  bottom: 3%;
}
.slider-left-btn{
  position: absolute;
  left: 5%;
  bottom: 3%;
}
}

/* SHruti ######################################## */

/* Carousel caption style for larger screens */
.carousel-caption1  {
  position: absolute !important;
  bottom: 15% !important;
  left: 78% !important;
  right: 5% !important;
  padding-bottom: 15px !important;
  color: #111 !important;
  text-align: left !important;
  z-index: 2;

}

.carousel-caption2 {
  position: absolute !important;
  bottom: 14% !important;
  left: 75% !important;
  right: 5% !important;
  padding-bottom: 15px !important;
  color: #111 !important;
  text-align: left !important;
  z-index: 2;
}

.carousel-caption3 {
  position: absolute !important;
  bottom: 19% !important;
  left: 79% !important;
  right: 5% !important;
  padding-bottom: 15px !important;
  color: #111 !important;
  text-align: left !important;
  z-index: 2;
}

.carousel-caption4 {
  position: absolute !important;
  bottom: 13% !important;
  left: 9% !important;
  right: 8% !important;
  padding-bottom: 15px !important;
  color: #111 !important;
  text-align: left !important;
  z-index: 2;
}
.carousel-indicators{
  margin-bottom: -2rem;

}
/* Change the shape of the carousel indicators to circles */
.carousel-indicators button {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  background-color: rgba(168, 168, 168, 0.705) !important;
  border: 1px solid rgb(59, 59, 59) !important;
  /* Light and transparent color */
  margin: 0 4px !important;
  padding: 0 !important;
  border: none !important;
}

/* Adjust the style of the active indicator */
.carousel-indicators button.active {

  background-color: rgba(255, 255, 255, 0.833) !important;
  border: 1px solid rgb(59, 59, 59) !important;
}

.btn-success {
  background-color: #97b137 !important;
  color: #fff !important;
  border: none;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1.5;
  box-shadow: 2px 2px 5px rgba(4, 48, 73, 0.4) !important;

}

.btn-success:hover {
  background-color: #fff !important;
  color: #b3d33e !important;
  box-shadow: 0 .5rem 1rem rgba(15, 28, 51, 0.366) !important;
}

